body {
    background-image: url("face.jpg");
}

h1 {text-align: center; 
	color:#800000; font-family: Verdana, sans-serif;
}

h1 span {background-color: white; 
}

p {text-align: center; 
	color:#800000; font-family: Verdana, sans-serif;
}

p span {background-color: white; 
}

